<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516167677061-k8bqvu71tpq9i3c6ktk8j9fn0k184mvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516167677061-k8bqvu71tpq9i3c6ktk8j9fn0k184mvu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>516167677061-bs92162ivtbdd931eqi3jpg9l7cnd8st.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ6-nYQ9ulbzMG7iNGEyM_I5qgc8EtG-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>516167677061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeAi</string>
	<key>PROJECT_ID</key>
	<string>recipeai-89d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeai-89d8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516167677061:ios:2f60fb3d106231b77425ec</string>
</dict>
</plist>